<script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/admin/js/jquery.form.js"></script>
<script src="/static/admin/js/jquery.easyui.min.js"></script>

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/mobile/js/touchslider.dev.js"></script>
<script type="text/javascript" src="/static/mobile/js/jquery.json.js"></script>
<script type="text/javascript" src="/static/mobile/js/common.js" ></script>
<script type="text/javascript" src="/static/mobile/js/mobile.js" ></script>

<script src="/static/mobile/js/layer/layer.js"></script>
<script type="text/javascript" src="/static/mobile/js/modernizr.js"></script>
<script src="/static/admin/js/global.js"></script>
