<div class="table-responsive ">
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>商户名称</th>
        <th>商户账号</th>
        <th>商户分类</th>
        <th>联系方式</th>
        <th>地址</th>
		<th>状态</th>
        <th>提交时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {empty name="lists"}
    <tr><td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td></tr>
    <input type="hidden" name="test" value="1">
    {else/}
    {foreach $lists as $v}
    <tr>
        <td>{$v.id}</td>
        <td>{$v.name}</td>
        <td>{$v.username}</td>
        <td>{$v.cate_id}</td>
        <td>{$v.telephone}</td>
        <td>{$v.address}</td>
        <td>
            {eq name='v.status' value='-2'}
            <i class="fa fa-close text-navy change-status hover-point"  data-value="0" data-cv="0" data-id="{$v.id}" data-column="status" data-table="shop" data-msg="审核通过" data-todo="1" data-cur="未审核" onclick="changeStatus(this)" >未审核</i>
            {else/}
            <i class="fa fa-check text-navy change-status hover-point"> 审核通过</i>
            {/eq}
        </td>
        <td>{$v.create_at}</td>
        <td>
            <a href="{:url('shopHandle',['id'=>$v.id])}" class="btn btn-primary btn-xs">
                <i class="fa fa-pencil-square-o"></i> 编辑
            </a>&nbsp;&nbsp;
            <a href="javascript:;"class="btn btn-danger btn-xs" onclick="delBtn(this)" data-id="{$v.id}" data-name="{$v.name}" data-url="{:url('delAuditDel')}">
                <i class="fa fa-trash-o"></i> 删除
            </a>
        </td>
    </tr>
    {/foreach}
    {/empty}
    </tbody>
</table>
<div class="pull-right">
    {$page}
</div>
</div>
<script type="text/javascript">
    //分页
    $('.pagination a').click(function () {
        form = '';//表单id 全局变量
        p = $(this).data('p');//当前分页
        turl = "/admin/Shops/ajaxShopsAuditList/page/"+p;//url
        ajaxList(form,turl);
    });
</script>